<div *ngIf="currentUser; else loggedOut">
  <form (ngSubmit)="onSubmit()" #form="ngForm">

    <input name="title" type="text" required [(ngModel)]="article.title" #title="ngModel">

    <input name="content" type="text" required [(ngModel)]="article.content" #content="ngModel">

    <input name="file" type="image" required [(ngModel)]="article.file" #file="ngModel">


    <button type="submit">
      Enregistrer
    </button>

  </form>
</div>
<ng-template #loggedOut>
  Please login.
</ng-template>
