<form (ngSubmit)="contact.valid && onSubmit()" #contact="ngForm">

  <div>
    <label for="from">Adresse email :
    </label>
    <input name="from" type="email" [(ngModel)]="mail.from" #from="ngModel" required email>
  </div>
  <div *ngIf="contact.submitted && from.errors">
    <span *ngIf="from.errors.required">Le champ email est requis</span>
  </div>

  <div>
    <label for="name">Prénom :
    </label>
    <input name="name" type="text" [(ngModel)]="mail.name" #name="ngModel" minlength="3" maxlength="15" required>
  </div>
  <div *ngIf="contact.submitted && name.errors">
    <span *ngIf="name.errors?.required">Le prénom est requis</span>
    <span *ngIf="name.errors?.minlength">La longueur minimale doit être supérieure à 3 caractères</span>
    <span *ngIf="name.errors?.maxlength">La longueur maximale doit être inférieure à 15 caractères</span>
  </div>

  <div>
    <label for="subject">Objet :
    </label>
    <input name="subject" type="text" [(ngModel)]="mail.subject" #subject="ngModel" minlength="3" maxlength="15"
      required>
  </div>
  <div *ngIf="contact.submitted && subject.errors">
    <span *ngIf="subject.errors?.required">Un objet est requis</span>
    <span *ngIf="subject.errors?.minlength">La longueur minimale doit être supérieure à 3 caractères</span>
  </div>

  <div>
    <label for="message">Message :
    </label>
    <textarea name="message" type="text" rows="5" cols="33" [(ngModel)]="mail.message" #message="ngModel" minlength="10"
      required>
    </textarea>
  </div>
  <div *ngIf="contact.submitted && message.errors">
    <span *ngIf="message.errors?.required">Un message est requis</span>
    <span *ngIf="message.errors?.minlength">La longueur minimale doit être supérieure à 10 caractères</span>
  </div>

  <button type="submit">
    Envoyer
  </button>
</form>
