<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <a [routerLink]="['']">L'asso</a>
  <a [routerLink]="['rencontre']">Rencontres à venir</a>
  <a [routerLink]="['blog']">Blog</a>
  <a [routerLink]="['contact']">Contactez-nous</a>
  <div *ngIf="!isLoggedIn">
    <a *ngIf="!isLoggedIn" [routerLink]="['register']">S'enregistrer</a>
    <a *ngIf="!isLoggedIn" [routerLink]="['login']">S'identifier</a>
  </div>
  <div *ngIf="isLoggedIn">
    <a *ngIf="isLoggedIn" [routerLink]="['']" (click)=" logout()">Se déconnecter</a>
  </div>


  <span class="icon-menu"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
