
// Medium devices (tablets, 768px)
@media (max-width: 768px) {

  button{
    display: inline !important;
  }

  #menu-bar a{
    display: none;
  }

  .mat-toolbar {
    display: flex;
    flex-flow: column wrap;
    justify-content: center ;
    padding-right: 40px;
    height: 100px;
  }

 }

 button {
   display: none;
 }

  mat-toolbar{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  #menu-bar{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
  }

  .mat-toolbar a{
    text-decoration: none;
  }
