@media (max-width: 768px) {

    .field{
      display: flex;
      flex-flow: column wrap;
    }

    mat-label{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }

    primary-line-button{
      display: flex;
      flex-flow: column wrap;
    }


 }


.container{
  display: flex;
  flex-flow: column wrap;
  margin: 20px;
}

 h1{
  text-align: center;
  margin: 25px;
}

.card-fields{
  display: flex;
  flex-flow: column wrap;
}

.field{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

mat-label{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

mat-card-actions{
  display: flex;
  flex-flow: column wrap;
}

.primary-line-button{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.delete-button{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
