<div class="container">
  <h1>Modifier un évênement</h1>

  <mat-card>
    <form (ngSubmit)="onSubmit()">

      <div class="card-fields">
        <div class="field">
          <mat-label>Titre</mat-label>
          <input matInput [value]="meet.title" (input)="meet.title = $event.target.value">
        </div>

        <div class="field">
          <mat-label>Entrer une adresse</mat-label>
          <input matInput type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
            placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
            #search [value]="meet.address" (input)="meet.address = $event.target.value">
        </div>

        <div class="field">
          <mat-label>Date</mat-label>
          <input type="date" [value]="meet.date" (input)="meet.date = $event.target.value">
        </div>

        <div class="field">
          <mat-label>Informations</mat-label>
          <textarea matInput #message [value]="meet.content" (input)="meet.content = $event.target.value"></textarea>
        </div>
      </div>


      <mat-card-actions>
        <div class="primary-line-button">
          <div *ngIf="moderator">
            <button mat-button type="submit">Sauvegarder l'évênement</button>
          </div>

          <div>
            <button mat-button [routerLink]="['/meet']">Retour</button>
          </div>
        </div>

        <div class="delete-button" *ngIf="admin">
          <button mat-fab color="warn" (click)="deleteMeet(this.meet.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-actions>

    </form>
  </mat-card>
</div>
