<div *ngIf="currentUser; else loggedOut">
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>Entrer un titre</label>
      <input name="title" type="text" [(ngModel)]="meet.title" #title="ngModel">
    </div>

    <div class="form-group">
      <label>Entrer une date</label>
      <input name="date" type="date" [(ngModel)]="meet.date" #date="ngModel">
    </div>

    <div class="form-group">
      <label>Entrer une adresse</label>
      <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
        placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
        #search name="address" [(ngModel)]="meet.address" #address="ngModel">
    </div>

    <div class="form-group">
      <label>Informations sur l'évênement</label>
      <input name="content" type="text" [(ngModel)]="meet.content" #content="ngModel">
    </div>

    <button type="submit">
      Enregistrer l'événement
    </button>

  </form>
</div>

<ng-template #loggedOut>
  Veuillez vous connecter pour avoir accès à cette page
</ng-template>
