<form (ngSubmit)="register.valid && onSubmit()" #register="ngForm">
  <div>
    <label for="username">Nom d'utilisateur :
    </label>
    <input name="username" type="text" [(ngModel)]="model.username" #username="ngModel" minlength="3" maxlength="15"
      required>
  </div>
  <!-- Message d'erreurs -->
  <div *ngIf="register.submitted && username.errors">
    <span *ngIf="username.errors?.required">Un nom d'utilisateur est requis</span>
    <span *ngIf="username.errors?.minlength">La longueur minimale doit être supérieure à 3 caractères</span>
    <span *ngIf="username.errors?.maxlength">La longueur maximale doit être inférieure à 15 caractères</span>
  </div>


  <div>
    <label for="mail">Email :
    </label>
    <input name="mail" type="email" [(ngModel)]="model.mail" #mail="ngModel" required email>
  </div>
  <div *ngIf="register.submitted && mail.errors">
    <span *ngIf="mail.errors.required">Le champ email est requis</span>
  </div>


  <div>
    <label for="password">Mot de passe :
    </label>
    <input name="password" type="password" [(ngModel)]="model.password" #password="ngModel" required maxlength="30"
      minlength="7">
  </div>
  <div *ngIf="register.submitted && password.errors">
    <span *ngIf="password.errors?.required">Le mot de passe est requis</span>
    <span *ngIf="password.errors?.minlength">La longueur minimale doit être supérieure à 7 caractères</span>
    <span *ngIf="password.errors?.maxlength">La longueur maximale doit être inférieure à 30 caractères</span>
  </div>

  <button type="submit">
    S'enregistrer
  </button>
</form>
