<div *ngFor="let meet of meets">
  <div>
    {{meet.title}}
    {{meet.address}}
    {{meet.date}}
  </div>


  <agm-map [latitude]="meet.lat" [longitude]="meet.lng">
    <agm-marker [latitude]="meet.lat" [longitude]="meet.lng"></agm-marker>
  </agm-map>

  <div *ngIf="moderator">
    <button [routerLink]="['/update-meet']">Modifier l'évênement</button>
  </div>
  <div *ngIf="moderator">
    <button (click)="deleteMeet(this.meet.id)">Supprimer l'évênement</button>
  </div>


</div>

<div *ngIf="moderator">
  <button [routerLink]="['/create-meet']">Créer un événement</button>
</div>
